@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Gochi+Hand&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Bangers", cursive;
  --font-serif: "Gochi Hand", cursive;
  --font-mono: "Space Mono", monospace;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}
